* {
  padding: 0;
  margin: 0;
  box-sizing: border;
}

html {
  font-family: "Quicksand", system-ui;
}

body {
  height: 100vh;
}

#app {
  height: 100%;
  background: url("../img/bg_image.jpg");
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#app.begin-state .section-nav {
  display: none;
}
#app.begin-state .footer-section {
  display: none;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.section-nav {
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  transition: opacity ease-in 300ms;
  opacity: 0;
}
.section-nav.in {
  opacity: 1;
}
.section-nav.out {
  opacity: 0;
}
.section-nav .game-info-list-left {
  display: flex;
  gap: 5px;
  align-items: stretch;
}
.section-nav .game-info-list-left .current-question {
  padding: 10px;
  background-color: gray;
  border-radius: 5px;
  font-size: 12px;
}
.section-nav .game-info-list-left .current-question .current {
  font-size: 16px;
}
.section-nav .game-info-list-left .streak {
  width: 300px;
  border: 2px solid gray;
  position: relative;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  box-shadow: rgba(246, 250, 29, 0.25) 0px 30px 60px -12px inset, rgba(249, 255, 71, 0.3) 0px 18px 36px -18px inset;
}
.section-nav .game-info-list-left .streak .streak-title {
  color: white;
  font-weight: bolder;
  text-shadow: 0.5px 0.5px black;
  position: absolute;
  z-index: 99;
  left: 0;
  padding-left: 10px;
}
.section-nav .game-info-list-left .streak .streak-progress {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.section-nav .game-info-list-left .streak .streak-progress .current {
  width: 0;
  transition: width ease-in-out 500ms;
  height: 100%;
}
.section-nav .game-info-list-left .streak .streak-progress .current.active {
  background: linear-gradient(90deg, rgb(246, 168, 10) 20%, rgb(227, 235, 72) 65%, rgb(243, 243, 243) 70%);
  z-index: 10;
}
.section-nav .game-info-list-left .streak .streak-progress .current:not(.active) {
  background: linear-gradient(90deg, rgb(246, 168, 10) 20%, rgb(234, 242, 91) 54%);
}
.section-nav .game-info-list-left .streak.max {
  animation: horizontal-shaking 400ms ease-in-out infinite;
}
.section-nav .game-info-list-left .streak.max .streak-progress .current {
  background: linear-gradient(0deg, rgb(246, 168, 10) 20%, rgb(235, 72, 72) 65%, rgb(243, 243, 243) 96%);
}
.section-nav .game-info-list-left .streak .streak-separator {
  height: 60%;
  border: 1px solid gray;
  z-index: 9;
}
.section-nav .game-info-list-left .streak .streak-number {
  z-index: 99;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.section-nav .game-info-list-right {
  display: flex;
  font-size: 16px;
  gap: 10px;
  color: white;
  align-items: center;
}
.section-nav .game-info-list-right .point {
  padding: 10px;
  min-width: 100px;
  border-radius: 5px;
}
.section-nav .game-info-list-right .point i {
  color: yellow;
}
.section-nav .game-info-list-right .go-home {
  padding: 10px;
}
.section-nav .game-info-list-right .go-home a {
  color: white;
  text-decoration: none;
}

.main-menu-state {
  height: 100%;
  opacity: 0;
  transition: opacity ease-in;
}
.main-menu-state.in {
  opacity: 1;
}
.main-menu-state.out {
  opacity: 0;
}

.count-down-state {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.count-down-state .count-down-item {
  position: absolute;
  top: 50%;
  width: 100%;
  color: white;
  translate: 0 -50%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 30px;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  animation: bounceOut 1.5s ease-in-out forwards;
}

.game-playing-state {
  color: white;
  height: 100%;
  position: relative;
}
.game-playing-state .question-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  transform: translateX(2000px);
}
.game-playing-state .question-wrapper.current {
  animation: bounce-in-right 1s forwards 1s;
}
.game-playing-state .question-wrapper.out {
  animation: bounce-out-down 1s forwards;
}
.game-playing-state .question-wrapper .question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
}
.game-playing-state .question-wrapper .question .question-number {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 99px;
  translate: 0 50%;
}
.game-playing-state .question-wrapper .question .question-content {
  padding: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}
.game-playing-state .question-wrapper .answer {
  height: 40%;
}
.game-playing-state .question-wrapper .answer .answer-list {
  display: flex;
  height: 100%;
  align-items: stretch;
  gap: 15px;
}
.game-playing-state .question-wrapper .answer .answer-list .answer-item {
  flex-grow: 1;
  font-size: 30px;
  height: 100%;
  position: relative;
}
.game-playing-state .question-wrapper .answer .answer-list .answer-item::before {
  display: block;
  content: "";
  position: absolute;
  top: 7px;
  height: 100%;
  background-color: red;
  width: 100%;
  background: #242569;
  border-radius: 10px;
}
.game-playing-state .question-wrapper .answer .answer-list .answer-item.chose {
  animation: bounce 1s ease infinite;
}
.game-playing-state .question-wrapper .answer .answer-list .answer-item.incorrect {
  animation: shake 1s ease forwards;
}
.game-playing-state .question-wrapper .answer .answer-list .answer-item.incorrect::before {
  background-color: rgb(114, 33, 4);
}
.game-playing-state .question-wrapper .answer .answer-list .answer-item.incorrect button {
  background: linear-gradient(0deg, rgb(255, 69, 0) 40%, rgb(255, 125, 0) 99%);
}
.game-playing-state .question-wrapper .answer .answer-list .answer-item.correct {
  animation: bounce2 1s ease forwards;
}
.game-playing-state .question-wrapper .answer .answer-list .answer-item.correct::before {
  background-color: rgb(2, 123, 40);
}
.game-playing-state .question-wrapper .answer .answer-list .answer-item.correct button {
  background: linear-gradient(0deg, rgb(173, 255, 47) 40%, rgb(255, 255, 47) 99%);
}
.game-playing-state .question-wrapper .answer .answer-list .answer-item button {
  background: linear-gradient(0deg, #33387A 5%, #A73248 95%);
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  font-weight: 500;
  border-radius: 10px;
  color: inherit;
  font-size: inherit;
  position: relative;
  overflow: hidden;
}
.game-playing-state .question-wrapper .answer .answer-list .answer-item button::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  transition: background-color ease-in-out 100ms;
}
.game-playing-state .question-wrapper .answer .answer-list .answer-item button:hover::before {
  background-color: rgba(0, 0, 0, 0.3);
}
.game-playing-state .question-wrapper .answer .answer-list .answer-item button::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 10%;
  right: 10%;
  height: 3px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 10%, rgba(255, 255, 255, 0.8) 51%, rgba(255, 255, 255, 0.3) 90%);
  transition: visibility ease 150ms;
}
.game-playing-state .question-wrapper .answer .answer-list .answer-item button:hover::after {
  visibility: hidden;
}

.game-end-state {
  color: white;
  width: 500px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  opacity: 0;
  transition: opacity ease-in-out 500ms;
}
.game-end-state.in {
  opacity: 1;
}
.game-end-state.out {
  opacity: 0;
}
.game-end-state .game-end-title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 24px;
  padding-top: 8px;
}
.game-end-state .score-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}
.game-end-state .score-info .score-number {
  font-size: 30px;
  font-weight: 700;
}
.game-end-state .score-info .icon-wrapper {
  background-color: yellow;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.game-end-state .statistic-item {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
.game-end-state .statistic-item .bg-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  aspect-ratio: 1/1;
  background-image: url(../img/student_summary_sprite_full.png);
  background-size: 328px;
}
.game-end-state .statistic-item .bg-image.bg-image--correct {
  background-position: 294px -703px;
}
.game-end-state .statistic-item .bg-image.bg-image--incorrect {
  background-position: -138px -588px;
}
.game-end-state .statistic-item .bg-image.bg-image--streak {
  background-position: -3px -316px;
  width: 60px;
}
.game-end-state .statistic-item .bg-image.bg-image--time {
  background-position: -240px -223px;
}
.game-end-state .statistic-item .statistic-value {
  font-size: 30px;
  font-weight: 700;
}

.message-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9;
  color: white;
  font-weight: bolder;
  font-size: 35px;
  transform: translateY(100%);
  transition: transform ease-in-out 300ms;
}
.message-wrapper .message {
  padding: 20px;
  display: none;
}
.message-wrapper.active {
  transform: translateY(0);
}
.message-wrapper.incorrect .message {
  background-color: orangered;
}
.message-wrapper.incorrect .message--incorrect {
  display: block;
}
.message-wrapper.correct .message {
  background-color: greenyellow;
}
.message-wrapper.correct .message--correct {
  display: block;
}

.footer-section {
  width: 100%;
  backdrop-filter: blur(5px);
  color: white;
  font-weight: bolder;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: opacity ease-in 300ms;
  opacity: 0;
}
.footer-section.in {
  opacity: 1;
}
.footer-section.out {
  opacity: 0;
}
.footer-section .img-wrapper {
  position: relative;
}
.footer-section .img-wrapper img {
  max-height: 70px;
}

@keyframes bounceOut {
  0% {
    transform: scale(0);
  }
  1% {
    transform: scale(0.5);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}
@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-7%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-4%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
.bounce2 {
  animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.shake {
  animation: shake 2s ease infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.pyro:not(.active) {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 302px 119.6666666667px hsl(95, 100%, 50%), 151px -474.3333333333px hsl(230, 100%, 50%), 2px 142.6666666667px hsl(241, 100%, 50%), 298px -371.3333333333px hsl(270, 100%, 50%), -22px -23.3333333333px hsl(334, 100%, 50%), -452px 95.6666666667px hsl(299, 100%, 50%), 141px -123.3333333333px hsl(346, 100%, 50%), 14px 2.6666666667px hsl(306, 100%, 50%), 303px -699.3333333333px hsl(183, 100%, 50%), 141px -577.3333333333px hsl(236, 100%, 50%), 284px -11.3333333333px hsl(71, 100%, 50%), -66px -295.3333333333px hsl(238, 100%, 50%), 44px 120.6666666667px hsl(218, 100%, 50%), 473px -751.3333333333px hsl(250, 100%, 50%), -426px -110.3333333333px hsl(340, 100%, 50%), -196px -369.3333333333px hsl(281, 100%, 50%), -474px -168.3333333333px hsl(160, 100%, 50%), -379px -45.3333333333px hsl(101, 100%, 50%), 204px -410.3333333333px hsl(268, 100%, 50%), -219px -400.3333333333px hsl(276, 100%, 50%), -449px -755.3333333333px hsl(57, 100%, 50%), -19px -547.3333333333px hsl(284, 100%, 50%), -397px -606.3333333333px hsl(311, 100%, 50%), -227px -819.3333333333px hsl(339, 100%, 50%), 39px -409.3333333333px hsl(167, 100%, 50%), -287px -408.3333333333px hsl(168, 100%, 50%), -54px -600.3333333333px hsl(356, 100%, 50%), 446px -610.3333333333px hsl(286, 100%, 50%), 447px -433.3333333333px hsl(255, 100%, 50%), -68px -327.3333333333px hsl(21, 100%, 50%), -489px -185.3333333333px hsl(174, 100%, 50%), 184px -152.3333333333px hsl(125, 100%, 50%), 215px -693.3333333333px hsl(20, 100%, 50%), 76px -358.3333333333px hsl(78, 100%, 50%), 183px -570.3333333333px hsl(160, 100%, 50%), -220px -800.3333333333px hsl(132, 100%, 50%), 119px -272.3333333333px hsl(124, 100%, 50%), -275px -639.3333333333px hsl(67, 100%, 50%), 248px -300.3333333333px hsl(58, 100%, 50%), 30px -753.3333333333px hsl(224, 100%, 50%), -430px -584.3333333333px hsl(244, 100%, 50%), -281px -329.3333333333px hsl(175, 100%, 50%), -408px -500.3333333333px hsl(81, 100%, 50%), 56px -741.3333333333px hsl(272, 100%, 50%), -80px 150.6666666667px hsl(334, 100%, 50%), -243px -290.3333333333px hsl(122, 100%, 50%), -496px -799.3333333333px hsl(307, 100%, 50%), -448px -265.3333333333px hsl(175, 100%, 50%), -267px -795.3333333333px hsl(137, 100%, 50%), 288px -780.3333333333px hsl(115, 100%, 50%), -291px -273.3333333333px hsl(163, 100%, 50%);
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 302px 119.6666666667px hsl(95, 100%, 50%), 151px -474.3333333333px hsl(230, 100%, 50%), 2px 142.6666666667px hsl(241, 100%, 50%), 298px -371.3333333333px hsl(270, 100%, 50%), -22px -23.3333333333px hsl(334, 100%, 50%), -452px 95.6666666667px hsl(299, 100%, 50%), 141px -123.3333333333px hsl(346, 100%, 50%), 14px 2.6666666667px hsl(306, 100%, 50%), 303px -699.3333333333px hsl(183, 100%, 50%), 141px -577.3333333333px hsl(236, 100%, 50%), 284px -11.3333333333px hsl(71, 100%, 50%), -66px -295.3333333333px hsl(238, 100%, 50%), 44px 120.6666666667px hsl(218, 100%, 50%), 473px -751.3333333333px hsl(250, 100%, 50%), -426px -110.3333333333px hsl(340, 100%, 50%), -196px -369.3333333333px hsl(281, 100%, 50%), -474px -168.3333333333px hsl(160, 100%, 50%), -379px -45.3333333333px hsl(101, 100%, 50%), 204px -410.3333333333px hsl(268, 100%, 50%), -219px -400.3333333333px hsl(276, 100%, 50%), -449px -755.3333333333px hsl(57, 100%, 50%), -19px -547.3333333333px hsl(284, 100%, 50%), -397px -606.3333333333px hsl(311, 100%, 50%), -227px -819.3333333333px hsl(339, 100%, 50%), 39px -409.3333333333px hsl(167, 100%, 50%), -287px -408.3333333333px hsl(168, 100%, 50%), -54px -600.3333333333px hsl(356, 100%, 50%), 446px -610.3333333333px hsl(286, 100%, 50%), 447px -433.3333333333px hsl(255, 100%, 50%), -68px -327.3333333333px hsl(21, 100%, 50%), -489px -185.3333333333px hsl(174, 100%, 50%), 184px -152.3333333333px hsl(125, 100%, 50%), 215px -693.3333333333px hsl(20, 100%, 50%), 76px -358.3333333333px hsl(78, 100%, 50%), 183px -570.3333333333px hsl(160, 100%, 50%), -220px -800.3333333333px hsl(132, 100%, 50%), 119px -272.3333333333px hsl(124, 100%, 50%), -275px -639.3333333333px hsl(67, 100%, 50%), 248px -300.3333333333px hsl(58, 100%, 50%), 30px -753.3333333333px hsl(224, 100%, 50%), -430px -584.3333333333px hsl(244, 100%, 50%), -281px -329.3333333333px hsl(175, 100%, 50%), -408px -500.3333333333px hsl(81, 100%, 50%), 56px -741.3333333333px hsl(272, 100%, 50%), -80px 150.6666666667px hsl(334, 100%, 50%), -243px -290.3333333333px hsl(122, 100%, 50%), -496px -799.3333333333px hsl(307, 100%, 50%), -448px -265.3333333333px hsl(175, 100%, 50%), -267px -795.3333333333px hsl(137, 100%, 50%), 288px -780.3333333333px hsl(115, 100%, 50%), -291px -273.3333333333px hsl(163, 100%, 50%);
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 302px 119.6666666667px hsl(95, 100%, 50%), 151px -474.3333333333px hsl(230, 100%, 50%), 2px 142.6666666667px hsl(241, 100%, 50%), 298px -371.3333333333px hsl(270, 100%, 50%), -22px -23.3333333333px hsl(334, 100%, 50%), -452px 95.6666666667px hsl(299, 100%, 50%), 141px -123.3333333333px hsl(346, 100%, 50%), 14px 2.6666666667px hsl(306, 100%, 50%), 303px -699.3333333333px hsl(183, 100%, 50%), 141px -577.3333333333px hsl(236, 100%, 50%), 284px -11.3333333333px hsl(71, 100%, 50%), -66px -295.3333333333px hsl(238, 100%, 50%), 44px 120.6666666667px hsl(218, 100%, 50%), 473px -751.3333333333px hsl(250, 100%, 50%), -426px -110.3333333333px hsl(340, 100%, 50%), -196px -369.3333333333px hsl(281, 100%, 50%), -474px -168.3333333333px hsl(160, 100%, 50%), -379px -45.3333333333px hsl(101, 100%, 50%), 204px -410.3333333333px hsl(268, 100%, 50%), -219px -400.3333333333px hsl(276, 100%, 50%), -449px -755.3333333333px hsl(57, 100%, 50%), -19px -547.3333333333px hsl(284, 100%, 50%), -397px -606.3333333333px hsl(311, 100%, 50%), -227px -819.3333333333px hsl(339, 100%, 50%), 39px -409.3333333333px hsl(167, 100%, 50%), -287px -408.3333333333px hsl(168, 100%, 50%), -54px -600.3333333333px hsl(356, 100%, 50%), 446px -610.3333333333px hsl(286, 100%, 50%), 447px -433.3333333333px hsl(255, 100%, 50%), -68px -327.3333333333px hsl(21, 100%, 50%), -489px -185.3333333333px hsl(174, 100%, 50%), 184px -152.3333333333px hsl(125, 100%, 50%), 215px -693.3333333333px hsl(20, 100%, 50%), 76px -358.3333333333px hsl(78, 100%, 50%), 183px -570.3333333333px hsl(160, 100%, 50%), -220px -800.3333333333px hsl(132, 100%, 50%), 119px -272.3333333333px hsl(124, 100%, 50%), -275px -639.3333333333px hsl(67, 100%, 50%), 248px -300.3333333333px hsl(58, 100%, 50%), 30px -753.3333333333px hsl(224, 100%, 50%), -430px -584.3333333333px hsl(244, 100%, 50%), -281px -329.3333333333px hsl(175, 100%, 50%), -408px -500.3333333333px hsl(81, 100%, 50%), 56px -741.3333333333px hsl(272, 100%, 50%), -80px 150.6666666667px hsl(334, 100%, 50%), -243px -290.3333333333px hsl(122, 100%, 50%), -496px -799.3333333333px hsl(307, 100%, 50%), -448px -265.3333333333px hsl(175, 100%, 50%), -267px -795.3333333333px hsl(137, 100%, 50%), 288px -780.3333333333px hsl(115, 100%, 50%), -291px -273.3333333333px hsl(163, 100%, 50%);
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 302px 119.6666666667px hsl(95, 100%, 50%), 151px -474.3333333333px hsl(230, 100%, 50%), 2px 142.6666666667px hsl(241, 100%, 50%), 298px -371.3333333333px hsl(270, 100%, 50%), -22px -23.3333333333px hsl(334, 100%, 50%), -452px 95.6666666667px hsl(299, 100%, 50%), 141px -123.3333333333px hsl(346, 100%, 50%), 14px 2.6666666667px hsl(306, 100%, 50%), 303px -699.3333333333px hsl(183, 100%, 50%), 141px -577.3333333333px hsl(236, 100%, 50%), 284px -11.3333333333px hsl(71, 100%, 50%), -66px -295.3333333333px hsl(238, 100%, 50%), 44px 120.6666666667px hsl(218, 100%, 50%), 473px -751.3333333333px hsl(250, 100%, 50%), -426px -110.3333333333px hsl(340, 100%, 50%), -196px -369.3333333333px hsl(281, 100%, 50%), -474px -168.3333333333px hsl(160, 100%, 50%), -379px -45.3333333333px hsl(101, 100%, 50%), 204px -410.3333333333px hsl(268, 100%, 50%), -219px -400.3333333333px hsl(276, 100%, 50%), -449px -755.3333333333px hsl(57, 100%, 50%), -19px -547.3333333333px hsl(284, 100%, 50%), -397px -606.3333333333px hsl(311, 100%, 50%), -227px -819.3333333333px hsl(339, 100%, 50%), 39px -409.3333333333px hsl(167, 100%, 50%), -287px -408.3333333333px hsl(168, 100%, 50%), -54px -600.3333333333px hsl(356, 100%, 50%), 446px -610.3333333333px hsl(286, 100%, 50%), 447px -433.3333333333px hsl(255, 100%, 50%), -68px -327.3333333333px hsl(21, 100%, 50%), -489px -185.3333333333px hsl(174, 100%, 50%), 184px -152.3333333333px hsl(125, 100%, 50%), 215px -693.3333333333px hsl(20, 100%, 50%), 76px -358.3333333333px hsl(78, 100%, 50%), 183px -570.3333333333px hsl(160, 100%, 50%), -220px -800.3333333333px hsl(132, 100%, 50%), 119px -272.3333333333px hsl(124, 100%, 50%), -275px -639.3333333333px hsl(67, 100%, 50%), 248px -300.3333333333px hsl(58, 100%, 50%), 30px -753.3333333333px hsl(224, 100%, 50%), -430px -584.3333333333px hsl(244, 100%, 50%), -281px -329.3333333333px hsl(175, 100%, 50%), -408px -500.3333333333px hsl(81, 100%, 50%), 56px -741.3333333333px hsl(272, 100%, 50%), -80px 150.6666666667px hsl(334, 100%, 50%), -243px -290.3333333333px hsl(122, 100%, 50%), -496px -799.3333333333px hsl(307, 100%, 50%), -448px -265.3333333333px hsl(175, 100%, 50%), -267px -795.3333333333px hsl(137, 100%, 50%), 288px -780.3333333333px hsl(115, 100%, 50%), -291px -273.3333333333px hsl(163, 100%, 50%);
  }
}
@keyframes bang {
  to {
    box-shadow: 302px 119.6666666667px hsl(95, 100%, 50%), 151px -474.3333333333px hsl(230, 100%, 50%), 2px 142.6666666667px hsl(241, 100%, 50%), 298px -371.3333333333px hsl(270, 100%, 50%), -22px -23.3333333333px hsl(334, 100%, 50%), -452px 95.6666666667px hsl(299, 100%, 50%), 141px -123.3333333333px hsl(346, 100%, 50%), 14px 2.6666666667px hsl(306, 100%, 50%), 303px -699.3333333333px hsl(183, 100%, 50%), 141px -577.3333333333px hsl(236, 100%, 50%), 284px -11.3333333333px hsl(71, 100%, 50%), -66px -295.3333333333px hsl(238, 100%, 50%), 44px 120.6666666667px hsl(218, 100%, 50%), 473px -751.3333333333px hsl(250, 100%, 50%), -426px -110.3333333333px hsl(340, 100%, 50%), -196px -369.3333333333px hsl(281, 100%, 50%), -474px -168.3333333333px hsl(160, 100%, 50%), -379px -45.3333333333px hsl(101, 100%, 50%), 204px -410.3333333333px hsl(268, 100%, 50%), -219px -400.3333333333px hsl(276, 100%, 50%), -449px -755.3333333333px hsl(57, 100%, 50%), -19px -547.3333333333px hsl(284, 100%, 50%), -397px -606.3333333333px hsl(311, 100%, 50%), -227px -819.3333333333px hsl(339, 100%, 50%), 39px -409.3333333333px hsl(167, 100%, 50%), -287px -408.3333333333px hsl(168, 100%, 50%), -54px -600.3333333333px hsl(356, 100%, 50%), 446px -610.3333333333px hsl(286, 100%, 50%), 447px -433.3333333333px hsl(255, 100%, 50%), -68px -327.3333333333px hsl(21, 100%, 50%), -489px -185.3333333333px hsl(174, 100%, 50%), 184px -152.3333333333px hsl(125, 100%, 50%), 215px -693.3333333333px hsl(20, 100%, 50%), 76px -358.3333333333px hsl(78, 100%, 50%), 183px -570.3333333333px hsl(160, 100%, 50%), -220px -800.3333333333px hsl(132, 100%, 50%), 119px -272.3333333333px hsl(124, 100%, 50%), -275px -639.3333333333px hsl(67, 100%, 50%), 248px -300.3333333333px hsl(58, 100%, 50%), 30px -753.3333333333px hsl(224, 100%, 50%), -430px -584.3333333333px hsl(244, 100%, 50%), -281px -329.3333333333px hsl(175, 100%, 50%), -408px -500.3333333333px hsl(81, 100%, 50%), 56px -741.3333333333px hsl(272, 100%, 50%), -80px 150.6666666667px hsl(334, 100%, 50%), -243px -290.3333333333px hsl(122, 100%, 50%), -496px -799.3333333333px hsl(307, 100%, 50%), -448px -265.3333333333px hsl(175, 100%, 50%), -267px -795.3333333333px hsl(137, 100%, 50%), 288px -780.3333333333px hsl(115, 100%, 50%), -291px -273.3333333333px hsl(163, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes bounce-out-down {
  0% {
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/*# sourceMappingURL=style.css.map */
