* {
    padding: 0;
    margin: 0;
    box-sizing: border;
}

html {
    font-family: "Quicksand", system-ui;

}

body {
    height: 100vh;
}

#app {
    height: 100%;
    background: url("../img/bg_image.jpg");
    background-position: center;
    background-size: 100% 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-cotent {
    flex-grow: 1;
    padding: 20px;
}

.section-nav {
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    position: relative;
    background-color: rgba($color: #0000, $alpha: 0.15);
    backdrop-filter: blur(5px);

    .game-info-list-left {
        display: flex;
        gap: 5px;
        align-items: stretch;


        .current-question {
            padding: 10px;
            background-color: gray;
            border-radius: 5px;
            font-size: 12px;

            .current {
                font-size: 16px;
            }
        }

        .streck {
            width: 300px;
            border: 2px solid gray;
            position: relative;
            border-radius: 5px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            overflow: hidden;
            box-shadow: rgba(246, 250, 29, 0.25) 0px 30px 60px -12px inset, rgba(249, 255, 71, 0.3) 0px 18px 36px -18px inset;



            .streck-title {
                color: white;
                font-weight: bolder;
                text-shadow: 0.5px 0.5px black;
                position: absolute;
                z-index: 99;
                left: 0;
                padding-left: 10px;
            }


            .streck-progress {
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                height: 100%;
                width: 100%;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;

                &.active {
                    background: linear-gradient(90deg, rgba(246, 168, 10, 1) 20%, rgba(227, 235, 72, 1) 65%, rgba(243, 243, 243, 1) 89%);
                    z-index: 10;
                }


                &:not(.active) .current {
                    background: linear-gradient(90deg, rgba(246, 168, 10, 1) 20%, rgba(234, 242, 91, 1) 54%);
                    height: 100%;
                    width: 300px;
                }
            }

            &.max {
                animation: horizontal-shaking 400ms ease-in-out infinite;

                .streck-progress {
                    .current {
                        background: linear-gradient(0deg, rgba(246, 168, 10, 1) 20%, rgba(235, 72, 72, 1) 65%, rgba(243, 243, 243, 1) 96%);
                    }
                }
            }

            .streck-separator {
                height: 60%;
                border: 1px solid gray;
                z-index: 9;
            }

            .streck-number {
                z-index: 99;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .game-info-list-right {
        display: flex;
        font-size: 16px;
        gap: 10px;
        color: white;
        align-items: center;

        .point {
            padding: 10px;
            min-width: 100px;
            border-radius: 5px;

            i {
                color: yellow;
            }
        }

        .go-home {
            padding: 10px;

            // background-color: gray;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

.main-menu-state {
    height: 100%;
}

.count-down-state {
    position: relative;
    height: 100%;
    overflow: hidden;

    .count-down-item {
        position: absolute;
        top: 50%;
        width: 100%;
        color: white;
        translate: 0 -50%;
        background-color: rgba($color: #fff, $alpha: 0.2);
        padding: 30px;
        text-align: center;
        font-size: 80px;
        font-weight: bold;
        animation: bounceOut 1.5s ease-in-out forwards;
    }
}

.game-playing-state {
    color: white;
    height: 100%;

    position: relative;

    .question-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: absolute;
        transform: translateX(2000px);


        &.current {
            animation: bounce-in-right 1s forwards 1s;

        }

        &.out {
            animation: bounce-out-down 1s forwards;
        }

        .question {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 60%;


            .question-number {
                padding: 10px 20px;
                background-color: rgba($color: #000000, $alpha: 0.8);
                border-radius: 99px;
                translate: 0 50%;

            }

            .question-content {
                padding: 24px;
                background-color: rgba($color: #000000, $alpha: 0.5);
                border-radius: 10px;
                color: white;
                font-weight: bold;
                font-size: 32px;
                text-align: center;
            }
        }

        .answer {
            height: 40%;

            .answer-list {
                display: flex;
                height: 100%;
                align-items: stretch;
                gap: 15px;

                .answer-item {
                    flex-grow: 1;
                    font-size: 30px;
                    height: 100%;
                    position: relative;

                    &::before {
                        display: block;
                        content: "";
                        position: absolute;
                        top: 7px;
                        height: 100%;
                        background-color: red;
                        width: 100%;
                        background: #242569;
                        border-radius: 10px;
                    }

                    &.chose {
                        animation: bounce 1s ease infinite;
                    }

                    &.incorrect {
                        animation: shake 1s ease forwards;

                        &::before {
                            background-color: rgb(114, 33, 4);
                        }

                        button {

                            background: linear-gradient(0deg, rgb(255, 69, 0) 40%, rgb(255, 125, 0) 99%);
                        }
                    }

                    &.correct {
                        animation: bounce2 1s ease forwards;

                        &::before {
                            background-color: rgb(2, 123, 40);
                        }

                        button {

                            background: linear-gradient(0deg, rgb(173, 255, 47) 40%, rgb(255, 255, 47) 99%);
                        }
                    }



                    button {
                        background: linear-gradient(0deg, #33387A 5%, #A73248 95%);
                        outline: none;
                        border: none;

                        height: 100%;
                        width: 100%;
                        font-weight: 500;
                        border-radius: 10px;
                        color: inherit;
                        font-size: inherit;
                        position: relative;
                        overflow: hidden;

                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            inset: 0;
                            transition: background-color ease-in-out 100ms;
                        }

                        &:hover::before {
                            background-color: rgba($color: #000000, $alpha: 0.3);

                        }

                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 10px;
                            left: 10%;
                            right: 10%;
                            height: 3px;
                            border-radius: 50%;
                            background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 10%, rgba(255, 255, 255, 0.8) 51%, rgba(255, 255, 255, 0.3) 90%);
                            transition: visibility ease 150ms;
                        }

                        &:hover::after {
                            visibility: hidden;
                        }


                    }
                }
            }


        }
    }
}

.game-end-state {
    color: white;
    width: 500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    background-color: rgba($color: #000000, $alpha: 0.3);

    border-radius: 10px;
    padding: 20px;

    .game-end-title {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 24px;
        padding-top: 8px;
    }


    .score-info {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.6);
        border-radius: 5px;
        padding: 15px;

        margin-bottom: 20px;

        .score-number {
            font-size: 30px;
            font-weight: 700;
        }

        .icon-wrapper {
            background-color: yellow;
            color: white;
            padding: 10px;
            border-radius: 5px;

        }
    }

    .statistic-item {
        background-color: rgba($color: #000000, $alpha: 0.6);
        border-radius: 5px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: relative;

        .bg-image {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            aspect-ratio: 1/1;
            background-image: url(../img/student_summary_sprite_full.png);
            background-size: 328px;

            &.bg-image--correct {
                background-position: 294px -703px;
            }

            &.bg-image--incorrect {
                background-position: -138px -588px;
            }

            &.bg-image--streck {
                background-position: -3px -316px;
                width: 60px;
            }


            &.bg-image--time {
                background-position: -240px -223px;
            }
            
        }

        .statistic-value {
            font-size: 30px;
            font-weight: 700;
        }
    }
}

.message-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9;
    color: white;
    font-weight: bolder;
    font-size: 45px;
    transform: translateY(100%);
    transition: transform ease-in-out 300ms;

    &.incorrect,
    &.correct {
        transform: translateY(0);
    }


    &.incorrect {
        .message {
            background-color: orangered;
        }
    }

    &.correct {
        .message {
            background-color: greenyellow;
        }
    }

    .message {
        padding: 20px;
    }



}

.footer-section {
    width: 100%;
    backdrop-filter: blur(5px);
    color: white;
    font-weight: bolder;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    .img-wrapper {
        position: relative;

        img {
            max-height: 70px;
        }
    }
}

@keyframes bounceOut {
    0% {
        transform: scale(0);
    }

    1% {
        transform: scale(0.5);
    }

    25% {
        transform: scale(.95);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
        transform: scale(.3);
    }
}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(2px)
    }

    50% {
        transform: translateX(-2px)
    }

    75% {
        transform: translateX(2px)
    }

    100% {
        transform: translateX(0)
    }
}


%bounce {
    animation: bounce 2s ease infinite;
}

@keyframes bounce {
    70% {
        transform: translateY(0%);
    }

    80% {
        transform: translateY(-7%);
    }

    90% {
        transform: translateY(0%);
    }

    95% {
        transform: translateY(-4%);
    }

    97% {
        transform: translateY(0%);
    }

    99% {
        transform: translateY(-3%);
    }

    100% {
        transform: translateY(0);
    }
}


.bounce2 {
    animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}


.shake {
    animation: shake 2s ease infinite;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}


@keyframes bounce-in-right {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }

    60% {
        opacity: 1;
        transform: translateX(-30px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}


.pyro:not(.active) {
    display: none;
}

$particles: 50;
$width: 1000;
$height: 1000;

// Create the explosion...
$box-shadow: (
);
$box-shadow2: (
);

@for $i from 0 through $particles {
    $box-shadow: $box-shadow,
        random($width)-$width / 2 + px random($height)-$height / 1.2 + px hsl(random(360), 100, 50);
    $box-shadow2: $box-shadow2, 0 0 #fff
}

@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}

body {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
}

.pyro>.before,
.pyro>.after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: $box-shadow2;
    @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}

.pyro>.after {
    @include animation-delay((1.25s, 1.25s, 1.25s));
    @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
    to {
        box-shadow: $box-shadow;
    }
}

@include keyframes(gravity) {
    to {
        @include transform(translateY(200px));
        opacity: 0;
    }
}

@include keyframes(position) {

    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%
    }

    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}


@keyframes bounce-out-down {
    0% {
        transform: translateY(0);
    }

    20% {
        opacity: 1;
        transform: translateY(-20px);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}